outputs/
wandb/
slurm_out/
__pycache__/
*.egg-info/
*.pyc
samples/
*.txt
checkpoints/
eval_results*/
*eval_results/
.cache/
diffu_grpo/sbatch_scripts/tillicum_run.sh
diffu_grpo/sbatch_scripts/syslab_run.sh
.vscode/
figures/
visualization/generation_viz/
visualization/visualization_output/
*results/
